html, body {overflow-x: hidden;}
body {display: inherit; background-color: #292929; color: white; text-align: center;}
h1 {text-align: center;}
h1, body {color: white;}
h2 {padding: 0px 64px 0px 64px;}
a:link {color: #ffac30;}
a:hover {color: #ff8300 !important;}
a:visited {color: #ffa31a;}
ul {padding: 0px 32px 0px 32px !important; text-align: center; background-color: #1b1b1b;}
ul li {display: inline;}
p1 {padding: 0% 15% 0% 0%;}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}