html, body /*{overflow-x: hidden;}*/
body {display: inherit; background-color: #292929; color: white; text-align: center; overflow-x: hidden;}
h1 {text-align: center;}
h1, body {color: white;}
h2 {padding: 0px 64px 0px 64px;}
a:link {color: #ffac30;}
a:hover {color: #ff8300 !important;}
a:visited {color: #ffa31a;}
ul {padding: 0px 32px 0px 32px !important; text-align: center; background-color: #1b1b1b;}
ul li {display: inline;}
p1 {padding: 0% 15% 0% 0%;}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.Home-Button {
  background: url("https://raw.githubusercontent.com/JayTheXXVII/jaythexxvii.github.io/main/Assets/Github/Home.png");
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: left;
  background-position-x: 6px;
  width: 120px;
  left: 10px;
  position: relative;
}
.RevertX2-Nav, .RTL-Nav, .Metro-Nav, .Discord-Icon-Nav, .unRefreshed-Nav, .Tidalify-Nav {
  background: #292929;
  margin-top: -18px;
}
/*.RevertX2-Header, .RTL-Header, .Metro-Header, .Discord-Icon-Header {
  bottom: 3.45em;
  position: relative;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}*/
.RevertX2-Git, .RevertX2-Legacy-Git, .RevertX2-Test-Git, .RTL-Git, .Metro-Git, .Discord-Icon-Git, .Git, .unRefreshed-Git, .Tidalify-Git {
  background: url("https://raw.githubusercontent.com/JayTheXXVII/jaythexxvii.github.io/753438b8b003fb7d5ab7d66e7bf6ce0be57eae25/Assets/Github/github-mark-white.svg");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: left;
  background-position-x: 6px;
  width: 70%;
  left: 10px;
  position: relative;
}
.RevertX2-Raw, .RTL-Raw, .Metro-Raw, .Discord-Icon-Raw, .unRefreshed-Raw, .Tidalify-Raw {
  background: url("https://raw.githubusercontent.com/JayTheXXVII/jaythexxvii.github.io/753438b8b003fb7d5ab7d66e7bf6ce0be57eae25/Assets/Github/github-mark-white.svg");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: left;
  background-position-x: 6px;
}

.Discord-Icon-Git, .drop-nav li {
  background-position-x: 0px !important;
}

.RevertX2-Legacy-Git {
  padding-left: 40px !important;
}

.RevertX2-Legacy-Git, .RevertX2-Test-Git, .Discord-Icon-Git, .drop-nav li {
  text-wrap: nowrap !important;
}







@media(max-width:1023px){ 
   .navbar{padding: 10px 15px;}
}


/*unRefreshed*/
.unRefreshed-logo, .unRefreshed-gif {max-width: 50%;}