body { background-color: #292929 !important; color: white !important;}
h1, body {color: white !important;}
a:link { color: #808080 !important;}
a:hover {color: #808080 !important;}
a:visited { color: #ffa31a !important;}